{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<h2>Perfil de {{ user.username }}</h2>
<p>Partidas jugadas: {{ user.total_games }}</p>
<p>Victorias: {{ user.total_wins }}</p>
<p>Derrotas: {{ user.total_losses }}</p>
<p>Campeonatos ganados: {{ user.tournaments_won }}</p>




<h2>Invitaciones a Partidas</h2>
{% if pending_games %}
    <ul>
        {% for game in pending_games %}
            <li>
                Partida contra {{ game.player1.username }} 
                <form action="{% url 'accept_game' game.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Aceptar</button>
                </form>
                <form action="{% url 'reject_game' game.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: red; color: white;">Rechazar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes invitaciones pendientes.</p>
{% endif %}



{% endblock %}
