{% extends "base.html" %}

{% block title %}Nueva Partida{% endblock %}

{% block content %}
<h2>Crear una nueva partida</h2>
<form method="post">
    {% csrf_token %}
    
    <!-- Seleccionar oponente -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="opponent">Oponente:</label>
        </div>
        <select class="custom-select" id="opponent">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
      </div>
    <br><br>
    
    <!-- Seleccionar dificultad -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="difficulty">Dificultad:</label>
        </div>
        <select class="custom-select" id="difficulty">
          <option selected>Fácil</option>
          <option value="1">Medio</option>
          <option value="2">Difícil</option>
        </select>
      </div>
    <br><br>
    
    <!-- Puntaje objetivo -->
    <label for="points">Puntos a jugar:</label>
    <input type="number" name="points" id="points" min="1" value="10">
    <br><br>
    
    <!-- Color de las palas -->
    <label for="paddle_color">Color de las palas:</label>
    <input type="color" name="paddle_color" id="paddle_color" value="#0000ff">
    <br><br>
    
    <!-- Color de la pelota -->
    <label for="ball_color">Color de la pelota:</label>
    <input type="color" name="ball_color" id="ball_color" value="#ff0000">
    <br><br>
    
    <button type="submit">Invitar</button>
</form>
{% endblock %}
