{% load static %}

<h2>Chat Global</h2>

<div class="global-chat">
    <!-- Contenedor para los mensajes de chat -->
    <div id="chat-section" class="chat-box border rounded p-2 mb-2"
    style="height: 300px; overflow-y: auto;" hx-preserve>
        <!-- Mensajes se insertarán aquí -->

    </div>

    <!-- Formulario para enviar mensajes -->
    <form id="chat-form" class="d-flex" hx-boost="false">
        <input type="text" id="chat-input" class="form-control me-2" placeholder="Escribe tu mensaje..." required>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<!-- Información del usuario actual -->
<script type="application/json" id="player-data">
    {
        "player1": {
            "id": "{{ request.user.id }}",
            "username": "{{ request.user.username }}",
            "email": "{{ request.user.email }}"
        },
        "current": "player1"
    }
</script>

<!-- Cargar el script del chat global -->
<script src="{% static 'js/chat.js' %}"></script>
