{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2>Iniciar Sesión</h2>

<!-- Selector para elegir el método de login -->
 <div class="form-check">
    <input class="form-check-input"  id="login_credentials" type="radio" name="login_method" value="credentials" checked onclick="toggleLoginMethod('credentials')">
    <label class="form-check-label" for="login_credentials">
        Ingresar con usuario y contraseña
    </label>
</div>
<div class="form-check">
    <input class="form-check-input"  id="login_42" type="radio" name="login_method" value="42" onclick="toggleLoginMethod('42')">
    <label class="form-check-label" for="login_42">
        Ingresar con 42
    </label>
</div>

</label>

<!-- Formulario de login con usuario y contraseña -->
<form id="login_form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-dark" type="submit">Ingresar</button>
</form>

<!-- Botón para login con 42 -->
<div id="login_42">
    <a href="{% url 'login_42' %}">
        <button  class="btn btn-outline-dark" type="button">Ingresar con 42</button>
    </a>
</div>

<script>
    function toggleLoginMethod(method) {
        if (method === 'credentials') {
            document.getElementById('login_form').style.display = 'block';
            document.getElementById('login_42').style.display = 'none';
        } else {
            document.getElementById('login_form').style.display = 'none';
            document.getElementById('login_42').style.display = 'block';
        }
    }
</script>

{% endblock %}

