<div class="d-flex flex-column align-items-center" id="register-container">
    <h2 class="text-center text-white mb-5">Registrarse</h2>

    <div class="min-w-300">
        <form method="post" enctype="multipart/form-data" 
              hx-post="{% url 'register' %}" 
              hx-swap="innerHTML"
              hx-push-url="true"
              hx-target="#main-content"> 
            
            {% csrf_token %}
            
            <!-- Nombre de usuario -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.username.id_for_label }}" class="text-white">Nombre de usuario:</label>
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary" 
                       placeholder="Ingresa tu nombre de usuario">
                <div class="form-error text-danger">{{ form.username.errors }}</div>
            </div>

            <!-- Correo electrónico -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.email.id_for_label }}" class="text-white">Correo electrónico:</label>
                <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary" 
                       placeholder="Ingresa tu correo electrónico">
                <div class="form-error text-danger">{{ form.email.errors }}</div>
            </div>

            <!-- Nombre visible -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.display_name.id_for_label }}" class="text-white">Nombre visible:</label>
                <input type="text" name="{{ form.display_name.name }}" id="{{ form.display_name.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary" 
                       placeholder="Ingresa tu nombre visible">
                <div class="form-error text-danger">{{ form.display_name.errors }}</div>
            </div>

            <!-- Foto de perfil -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.avatar.id_for_label }}" class="text-white">Foto de perfil:</label>
                <input type="file" name="{{ form.avatar.name }}" id="{{ form.avatar.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary">
                <div class="form-error text-danger">{{ form.avatar.errors }}</div>
            </div>

            <!-- Contraseña -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.password1.id_for_label }}" class="text-white">Contraseña:</label>
                <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary" 
                       placeholder="Ingresa tu contraseña">
                <div class="form-error text-danger">{{ form.password1.errors }}</div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="{{ form.password2.id_for_label }}" class="text-white">Confirmar contraseña:</label>
                <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" 
                       class="form-control bg-dark text-white border-secondary" 
                       placeholder="Confirma tu contraseña">
                <div class="form-error text-danger">{{ form.password2.errors }}</div>
            </div>

            <button type="submit" class="btn btn-outline-secondary text-center w-100">Registrarse</button>
        </form>
    </div>
</div>
