/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #151414;
    color: #333;
}

h1, h2, h3 {
    color: #444;
}

/* Header */
header {
    /* padding: 10px 20px; */
    /* text-align: center; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    background: linear-gradient(to right, #e3968f 0%, #f67b71 40%, #d31166 60%, #3a061d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback para navegadores no-webkit */
    font-weight: 900;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    /* display: flex;
    justify-content: center; */
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /* font-weight: bold; */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Forms */
form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.game-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.game-section {
    flex: 2;
    padding-right: 20px;
}

/* Estilos comunes para el contenedor de mensajes */
#chat-section {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilos específicos para el chat global */
.global-chat #chat-section {
    background-color: #eeeae3; /* Fondo para el chat global */
}

/* Estilos específicos para el chat en partida */
.in-game-chat #chat-section {
    background-color: #d6e6f5; /* Fondo para el chat de partida */
}

/* Estilos comunes para el formulario */
#chat-form {
    margin-top: 10px;
}

#chat-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

/* Estilos comunes para el botón */
button {
    padding: 8px 12px;
}

.message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    max-width: 80%;
}

.username {
    font-weight: bold;
    display: inline;
}


