{% load static %}

<div class="d-flex flex-column align-items-center mb-5" id="game-new-container">
    <h2 class="text-center text-white mb-5 font-orbitron">Crear una nueva partida</h2>

    <div class="min-w-500">
        <form method="post" 
              hx-post="{% url 'new_game' %}" 
              hx-trigger="submit" 
              hx-swap="innerHTML"
              hx-push-url="true"
              hx-target="#main-content">  
            
            {% csrf_token %}
            
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="opponent" class="text-white">Selecciona un oponente:</label>
                <select name="opponent" id="opponent" class="form-control bg-dark text-white border-secondary" required>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="difficulty" class="text-white">Dificultad:</label>
                <select name="difficulty" id="difficulty" class="form-control bg-dark text-white border-secondary">
                    <option value="facil">Fácil</option>
                    <option value="medio" selected>Medio</option>
                    <option value="dificil">Difícil</option>
                </select>
            </div>

            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="points" class="text-white">Puntos a jugar:</label>
                <input type="number" name="points" id="points" min="1" value="10" 
                       class="form-control bg-dark text-white border-secondary">
            </div>

            <div class="form-group d-flex flex-column w-100 mb-2">
                <label class="text-white">Tipo de partida:</label>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="play_mode" id="mode_remote" value="remote" checked>
                        <label class="form-check-label text-white" for="mode_remote">
                            Remoto
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="play_mode" id="mode_local" value="local">
                        <label class="form-check-label text-white" for="mode_local">
                            Local
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group d-flex flex-column w-100 mb-2" id="mode-selectors">
                <label class="text-white">Modo de juego:</label>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="game_mode" id="game_mode_2d" value="2d" checked>
                        <label class="form-check-label text-white" for="game_mode_2d">2D</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="game_mode" id="game_mode_3d" value="3d">
                        <label class="form-check-label text-white" for="game_mode_3d">3D</label>
                    </div>
                </div>
            </div>            
            
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="paddle_color" class="text-white">Color de las palas:</label>
                <div class="d-flex align-items-center gap-2">
                    <input type="color" name="paddle_color" id="paddle_color" value="#37cdd1" 
                           class="form-control form-control-color bg-dark border-secondary">
                </div>
            </div>

            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="backgroud_color" class="text-white">Color de fondo:</label>
                <div class="d-flex align-items-center gap-2">
                    <input type="color" name="backgroud_color" id="backgroud_color" value="#000000" 
                           class="form-control form-control-color bg-dark border-secondary">
                </div>
            </div>
            
            <div class="form-group d-flex flex-column w-100 mb-2">
                <label for="ball_color" class="text-white">Color de la pelota:</label>
                <div class="d-flex align-items-center gap-2">
                    <input type="color" name="ball_color" id="ball_color" value="#e6c536" 
                           class="form-control form-control-color bg-dark border-secondary">
                </div>
            </div>

            <button type="submit" class="btn btn-outline-secondary text-center w-100">Invitar</button>
        </form>
    </div>
</div>


<script>

if (window.listenerAdded === undefined) window.listenerAdded = false;

   function setupListener() {
        if (window.listenerAdded) 
            return;

        window.listenerAdded = true;
        const modeSelectors = document.querySelectorAll('input[name="game_mode"]');
        const playModeRadios = document.querySelectorAll('input[name="play_mode"]');
    
        function updateGameModeOptions() {
            const isLocal = document.getElementById("mode_local").checked;
    
            modeSelectors.forEach(input => {
                input.disabled = isLocal;
            });
    
            if (isLocal) {
                document.getElementById("game_mode_2d").checked = true;
            }
        }
    
        playModeRadios.forEach(radio => {
            radio.addEventListener("change", updateGameModeOptions);
        });
    
        updateGameModeOptions(); // Inicializar
    }

    
// Se ejecuta cuando hay recarga HTMX
if (document.readyState === "complete") {
    setupListener(); // Si el DOM ya está listo, ejecuta directamente
}

// Se ejecuta cuando hay recarga completa
document.addEventListener("DOMContentLoaded", function () {
    setupListener(); // Si el DOM ya está listo, ejecuta directamente
});

</script>
    