{% block content %}

<!-- Formulario de creación arriba -->
<div id="create-tournament-container" class="mb-4">
    <button 
        hx-get="{% url 'create_tournament' %}" 
        hx-target="#create-tournament-container"
        hx-swap="innerHTML"
        class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-2">
        <i class="bi bi-plus-circle"></i> Crear Nuevo Torneo
    </button>
</div>

<h2 class="text-center mb-4">Lista de Torneos</h2>

<!-- Incluye solo las tarjetas -->
{% include "tournaments/tournament_cards.html" %}

{% endblock %}
